<%- include('../partials/header.ejs'); -%>

<nav class="navbar navbar-expand-lg navbar-dark" style="position: fixed; width: 100%; background-color: #212121; top: 0px; z-index: 1">
    <div class="container">
        <a href="/user/dashboard?id=<%= user.id %>" class="navbar-brand text-primary font-weight-bold p-3">SKEDDULE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto text-center">
                <li class="nav-item"><a href="/user/dashboard?id=<%= user.id %>" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/user/about?id=<%= user.id %>" class="nav-link">About</a></li>
                <li style="color: #fff;" class="nav-item nav-link"><i class="fas fa-user mr-1"></i>
                    <%= user.username %>
                </li>
                <li class="nav-item"><a href="/user/logout?id=<%= user.id %>" class="nav-link">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5 pt-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Task Details</h4>
        </div>
        <div class="card-body">
            <div class="d-flex mb-3">
                <h5 class="mr-3" style="font-size: 1.5rem;">Task Title:</h5>
                <p style="font-size: 1.5rem;"><%= task.task_name %></p>
            </div>
            <div class="d-flex mb-3">
                <h5 class="mr-3" style="font-size: 1.5rem;">Task Description:</h5>
                <p style="font-size: 1.5rem;"><%= task.description %></p>
            </div>
            <div class="d-flex mb-3">
                <h5 class="mr-3" style="font-size: 1.5rem;">Due Date:</h5>
                <p style="font-size: 1.5rem;"><%= task.due_date.toLocaleDateString('en-US', { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' }) %></p>
            </div>
            <div class="d-flex mb-3">
                <h5 class="mr-3" style="font-size: 1.5rem;">Task Priority:</h5>
                <p style="font-size: 1.5rem;"><%= task.priority %></p>
            </div>
            <div class="d-flex">
                <h5 class="mr-3" style="font-size: 1.5rem;">Task Status:</h5>
                <p style="font-size: 1.5rem;"><%= task.status %></p>
            </div>
            <!-- Add a call-to-action button to go back to the dashboard -->
            <div class="mt-4">
                <a href="/user/dashboard?id=<%= user.id %>" class="btn btn-primary">Back to Dashboard</a>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs'); -%>
